<div class="vote">
  <div>
    <%= link_to '/' do %>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="score">200</div>
  <div>
    <%= link_to '/' do %>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    <% end %>
  </div>
</div>