<h5>新话题</h5>
<% if @topic.errors.any? %>
    <div class="callout warning">
      <h5>发现了 <%= @topic.errors.count %> 个错误</h5>
      <ul>
        <% @topic.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="collapse">
  <ul class="tabs" data-deep-link="true" data-tabs id="collapsing-tabs">
    <li class="tabs-title is-active"><a href="#text-summit-panel" aria-selected="true">文章</a></li>
    <li class="tabs-title"><a href="#link-summit-panel">链接</a></li>
  </ul>
  <div class="tabs-content grid-container" data-tabs-content="collapsing-tabs">
    <div class="tabs-panel is-active" id="text-summit-panel">
      <%= render 'text_form', topic: @topic, url: {anchor: "text-summit-panel"} %>
    </div>
    <div class="tabs-panel" id="link-summit-panel">
      <%= render 'link_form', topic: @topic, url: {anchor: "link-summit-panel"} %>
    </div>
  </div>
</div>



