<% if @tag %>
    <div class="callout">
      <h5><%= @tag.name %></h5>
      <div class="markdown-content">
        <%= sanitize MarkdownUtils.render @tag.introduce %>
      </div>
    </div>
<% end %>