<% if @tag %>
    <% markdown_introduce = MarkdownUtils.render @tag.introduce %>
    <% title @tag.name %>
    <% description strip_tags markdown_introduce %>
    <div class="callout">
      <h5><%= @tag.name %></h5>
      <div class="markdown-content">
        <%= sanitize markdown_introduce %>
      </div>
    </div>
<% else %>
    <% title '首页' %>
    <% description Settings.app.description %>
<% end %>