<div class="footer grid-x grid-padding-x grid-container">
  <div class="cell">
    <hr/>
    <p>yibu.io Powered by <a href="http://rubyonrails.org/">Rails</a>, <a href="http://foundation.zurb.com/">Foundation</a></p>
  </div>
</div>